Online/Online.ClientTest/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Online.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Online.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseModel" nillable="true" type="tns:BaseModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseModel" nillable="true" type="tns:ArrayOfBaseModel" />
  <xs:complexType name="BaseModel">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="TestModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="bak" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="events" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="lastmoney" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="money" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="more" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nowmoney" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="times" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="types" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestModel" nillable="true" type="tns:TestModel" />
</xs:schema>