Online/Online.ClientTest/Service References/ServiceReference3/Oauth1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1684/Oauth.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dbb.DTO" />
  <xs:element name="Code">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dbb.DTO" minOccurs="0" name="loginuser" nillable="true" type="q1:VLoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaobaoAppKeyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TaobaoAppKeyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dbb.DTO" minOccurs="0" name="TaobaoAppKeyListResult" nillable="true" type="q2:ArrayOfVTaobaoAppKeyAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>