Online/Online.ClientTest/Service References/ServiceReference3/Oauth2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dbb.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dbb.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VLoginUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="LogMac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogMacNow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VLoginUser" nillable="true" type="tns:VLoginUser" />
  <xs:complexType name="ArrayOfVTaobaoAppKeyAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VTaobaoAppKeyAction" nillable="true" type="tns:VTaobaoAppKeyAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVTaobaoAppKeyAction" nillable="true" type="tns:ArrayOfVTaobaoAppKeyAction" />
  <xs:complexType name="VTaobaoAppKeyAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppSecret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appkey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VTaobaoAppKeyAction" nillable="true" type="tns:VTaobaoAppKeyAction" />
</xs:schema>