Online/Online.ClientTest/Service References/ServiceReference3/Oauth.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Oauth" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1684/Oauth.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1684/Oauth.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1684/Oauth.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dbb.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOauth_Code_InputMessage">
    <wsdl:part name="parameters" element="tns:Code" />
  </wsdl:message>
  <wsdl:message name="IOauth_Code_OutputMessage">
    <wsdl:part name="parameters" element="tns:CodeResponse" />
  </wsdl:message>
  <wsdl:message name="IOauth_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IOauth_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IOauth_TaobaoAppKeyList_InputMessage">
    <wsdl:part name="parameters" element="tns:TaobaoAppKeyList" />
  </wsdl:message>
  <wsdl:message name="IOauth_TaobaoAppKeyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:TaobaoAppKeyListResponse" />
  </wsdl:message>
  <wsdl:portType name="IOauth">
    <wsdl:operation name="Code">
      <wsdl:input wsaw:Action="http://tempuri.org/IOauth/Code" message="tns:IOauth_Code_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOauth/CodeResponse" message="tns:IOauth_Code_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IOauth/Login" message="tns:IOauth_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOauth/LoginResponse" message="tns:IOauth_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TaobaoAppKeyList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOauth/TaobaoAppKeyList" message="tns:IOauth_TaobaoAppKeyList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOauth/TaobaoAppKeyListResponse" message="tns:IOauth_TaobaoAppKeyList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOauth" type="tns:IOauth">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Code">
      <soap:operation soapAction="http://tempuri.org/IOauth/Code" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IOauth/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaobaoAppKeyList">
      <soap:operation soapAction="http://tempuri.org/IOauth/TaobaoAppKeyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Oauth">
    <wsdl:port name="BasicHttpBinding_IOauth" binding="tns:BasicHttpBinding_IOauth">
      <soap:address location="http://localhost:1684/Oauth.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>