Online/Online.ClientTest/Service References/ServiceReference3/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.Samples.NetTcp" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.Samples.NetTcp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.Samples.NetTcp/Imports">
      <xsd:import schemaLocation="http://localhost:8089/Service.svc?xsd=xsd0" namespace="http://Microsoft.Samples.NetTcp" />
      <xsd:import schemaLocation="http://localhost:8089/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8089/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Online.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="IService_Subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="IService_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="IService_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://Microsoft.Samples.NetTcp/IService/Add" message="tns:IService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Samples.NetTcp/IService/AddResponse" message="tns:IService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input wsaw:Action="http://Microsoft.Samples.NetTcp/IService/Subtract" message="tns:IService_Subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Samples.NetTcp/IService/SubtractResponse" message="tns:IService_Subtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://Microsoft.Samples.NetTcp/IService/Multiply" message="tns:IService_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Samples.NetTcp/IService/MultiplyResponse" message="tns:IService_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://Microsoft.Samples.NetTcp/IService/Divide" message="tns:IService_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Samples.NetTcp/IService/DivideResponse" message="tns:IService_Divide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://Microsoft.Samples.NetTcp/IService/Get" message="tns:IService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Samples.NetTcp/IService/GetResponse" message="tns:IService_Get_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>